header img {
    max-height: 10%;
}

body * {
    font-family: inherit;
    font-weight: lighter;
}

header {
    text-align: center;
}

header > h2 {
    margin-bottom: 0.5rem;
}

header > h3 {
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
}

main.material_card {
    display: flex;
}

li.card_list__materials_card {
    max-width: 20rem;
    margin-bottom: 2rem;
}

li.card_list__materials_card > img.poster {
    max-width: 20rem;
    height: 20rem;
}

ul {
    list-style: none;
}

ul.card_list {
    display: flex;
    place-content: space-evenly;
    flex-wrap: wrap;
}


li.card_list__materials_card > p {
    max-width: 20rem;
    height: 2.75rem;
    color: darkslategrey;
    margin: 0;
    padding: 0.75rem 0;
    text-align: justify;
    overflow: hidden;
}

li.card_list__materials_card > p:hover {
    height: auto;
}

div.link_bar {
    padding-top: 0.75rem;
    display: flex;
    max-width: 20rem;
    justify-content: space-evenly;
}

div.link_bar > a {
    padding: 0.5rem;
    border-radius: 5%;
    background-color: darkseagreen;
    color: white;
    width: 3.5rem;
    text-align: center;
}

div.link_bar > a:hover {
    background-color: forestgreen;
}


/*background-image: url("https://images.pexels.com/photos/673648/pexels-photo-673648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");*/
/*background-image: url("https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");*/
/*background-image: url("https://unsplash.com/photos/vC8wj_Kphak");*/
/*background-image: url("https://images.pexels.com/photos/673648/pexels-photo-673648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");*/
